In [6]:

SELECT 
    r.upload_timestamp as time,
    count(r.engagement_id) as rows
from engagement_data_raw AS r
GROUP BY r.upload_timestamp

time,rows
NULL,5000
2024-06-19 08:22:02,2000
2024-06-19 08:23:23,4104
2024-06-19 08:23:24,896

In [9]:
SELECT 
    r.upload_timestamp as time,
    count(r.engagement_id) as rows,
    count(
        SELECT * from engagement_data_raw WHERE engagement_status = 'Released'
        ) AS released 
from engagement_data_raw AS r
GROUP BY r.upload_timestamp

: syntax error at or near "SELECT"

In [26]:
SELECT 
    r.upload_timestamp AS time,
    COUNT(*) AS consutling
FROM engagement_data_raw AS r 
WHERE r.engagement_status = 'Released' 
    AND r.engagement_partner_service_line = 'Consulting'
GROUP BY time

time,consutling
NULL,304
2024-06-19 08:22:02,131
2024-06-19 08:23:23,278
2024-06-19 08:23:24,52